<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="/public/js/biography.js" defer></script>
  <title>Biography</title>
</head>

<body>
  <!-- Header section -->
  <div class="header">
    <!-- Company logo -->
    <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>

    <!-- Navigation bar -->
    <nav class="nav-bar">
      <ul class="nav-links">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/biography">Biography</a></li>
        <li class="nav-item"><a href="/project">Project</a></li>
        <li class="nav-item"><a href="/skill/1">Skill</a></li>
        <li class="nav-item"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>

  <div class="biography-container">

    <!-- Display profile -->
    <div class="biography-top-container">
      Top Container
      <p>This is to display the user profile.</p>
    </div>


    <!-- Display list of skills -->
    <div class="biography-middle-container">
      Middle Container
      <p>This is to list all of the skills that the user has.</p>
    </div>


    <!-- Display list of projects, self evaluation, reviews -->
    <div class="biography-bottom-container">

      <!-- Display list of projects -->
      <div class="biography-bottom-left">
        Left Container
        <p>This is for list of all of the projects.</p>
      </div>

      <!-- Display self-evaluations + reviews for the project -->
      <div class="biography-bottom-right">
        Right Container
        <p>This is to list the self-evaluations + reviews of the project.</p>
      </div>

    </div>

  </div>

</body>

</html>