<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
  <title>Edit Profile</title>
</head>

<body>
  <!-- Header section -->
  <div class="header">
    <!-- Company logo -->
    <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>

    <!-- Navigation bar -->
    <nav class="nav-bar">
      <ul class="nav-links">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/biography">Biography</a></li>
        <li class="nav-item"><a href="/project">Project</a></li>
        <li class="nav-item"><a href="/skill/1">Skill</a></li>
        <li class="nav-item"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>

  <h1>Edit Profile</h1>
  <form class="form-input" id="profileForm" action="/profile-edit" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" value="<%= user.FirstName %>" required>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" value="<%= user.LastName %>" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= user.EmailAddress %>" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <label for="bioDescription">Biography Description:</label>
    <textarea id="bioDescription" name="bioDescription" rows="8" cols="50" maxlength="1500" required><%= bio[0].Description %></textarea>
    <p style="text-align: right; font-size: 12px;"><span id="charCount">0</span>/1500 characters</p>
    <br><button type="submit">Save Changes</button>
  </form>

  <script>
    const profileForm = document.getElementById('profileForm');
    const bioDescription = document.getElementById('bioDescription');
    const charCount = document.getElementById('charCount');

    bioDescription.addEventListener('input', () => {
      charCount.textContent = bioDescription.value.length;
    });
  </script>
</body>

</html>