<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css"/>
  <title>Profile</title>
</head>
<body>
  <!-- Header section -->
<div class="header">
  <!-- Company logo -->
  <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
  </div>

  <!-- Navigation bar -->
  <nav class="nav-bar">
    <ul class="nav-links">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/biography">Biography</a></li>
        <li class="nav-item"><a href="/project">Project</a></li>
        <li class="nav-item"><a href="/logout">Logout</a></li>
        <!-- Add more navigation links as needed -->
    </ul>
</nav>
</div>
<h1>User Profile</h1>
<p><i>
<% if (message && fromProfileEditPage) { %>
  <div id="message">
    <p><%= message %></p>
  </div>
<% } %></i>

<p>First Name: <%= user.FirstName %></p>
<p>Last Name: <%= user.LastName %></p>
<p>Email Address: <%= user.EmailAddress %></p>

<a href="/profile-edit">Modify</a>

</body>
</html>
