<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css"/>
  <title>Create Project</title>
</head>
<body>
<!-- Header section -->
<div class="header">
  <!-- Company logo -->
  <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
  </div>

  <!-- Navigation bar -->
  <nav class="nav-bar">
    <ul class="nav-links">
      <li class="nav-item"><a href="/home">Home</a></li>
      <li class="nav-item"><a href="/biography">Biography</a></li>
      <li class="nav-item"><a href="/project">Project</a></li>
      <li class="nav-item"><a href="/skill/1">Skill</a></li>
      <li class="nav-item"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>
  <h1>Create Project</h1>
  <form class="form-input" id="projectForm" action="/project-create" method="POST">
    <label for="projectName">Project Name:</label>
    <input type="text" id="projectName" name="projectName" required><br>

    <label for="projectDescription">Project Description:</label>
    <textarea id="projectDescription" name="projectDescription" rows="4" cols="50" maxlength="1500" required></textarea>
    <p style="text-align: right; font-size: 12px;"><span id="charCount">0</span>/1500 characters</p>

    <label for="projectStartDate">Start Date:</label>
    <input type="date" id="projectStartDate" name="projectStartDate" required><br>

    <label for="projectEndDate">End Date:</label>
    <input type="date" id="projectEndDate" name="projectEndDate"><br>

    <label for="teamRole">Team Role:</label>
    <select id="teamRole" name="teamRole" required>
      <option value="Leader">Leader</option>
      <option value="Member">Member</option>
    </select><br>

    <label for="projectGrade">Grade:</label>
    <select id="projectGrade" name="projectGrade">
      <option value="NA">NA</option>
      <option value="HD">HD</option>
      <option value="D">D</option>
      <option value="C">C</option>
      <option value="P">P</option>
      <option value="U">U</option>
  </select><br>

    <label for="projectSize">Number of Members:</label>
    <select id="projectSize" name="projectSize" required>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select><br>
    <button type="submit">Create Project</button>
  </form>

  <script>
    const projectForm = document.getElementById('projectForm');
    const projectDescription = document.getElementById('projectDescription');
    const charCount = document.getElementById('charCount');
  
    projectDescription.addEventListener('input', () => {
        charCount.textContent = projectDescription.value.length;
    });

    // Get the input elements
    const startDateInput = document.getElementById('projectStartDate');
    const endDateInput = document.getElementById('projectEndDate');

    // Add event listener to the start date input
    startDateInput.addEventListener('change', function() {
        const startDate = new Date(this.value);
        const endDate = new Date(endDateInput.value);

        // Check if the start date is a future date
        if (startDate > new Date()) {
            alert('Start date cannot be a future date');
            this.value = ''; // Clear the input value
        }

        // Check if end date is earlier than start date
        if (endDate < startDate) {
            alert('End date cannot be earlier than the start date');
            endDateInput.value = ''; // Clear the end date input value
        }
    });

    // Add event listener to the end date input
    endDateInput.addEventListener('change', function() {
        const startDate = new Date(startDateInput.value);
        const endDate = new Date(this.value);

        // Check if end date is earlier than start date
        if (endDate < startDate) {
            alert('End date cannot be earlier than the start date');
            this.value = ''; // Clear the input value
        }
    });
  </script>
</body>
</html>
