/* All styling */

/* General styling */

/* Styling for the header */
.header {
    background-color: #333;
    /* Setting background color */
    color: #fff;
    /* Setting text color */
    padding: 20px 0;
    /* Adding padding */
    text-align: center;
    /* Center aligning text */
}

/* Styling for company name */
.company-name {
    font-size: 24px;
    /* Setting font size */
    margin-bottom: 10px;
    /* Adding margin bottom */
}

/*login page logo*/
.login_logo {
    height: 80px;
}

/* Styling for logo */
.logo {
    width: 100px;
    /* Setting width */
    height: auto;
    /* Auto height */
}

/* Styling for navigation bar */
.nav-bar {
    background-color: #555;
    /* Setting background color */
    padding: 10px 0;
    /* Adding padding */
}

/* Styling for navigation links */
.nav-links {
    list-style-type: none;
    /* Removing list style */
    margin: 0;
    /* Removing default margin */
    padding: 0;
    /* Removing default padding */
    text-align: center;
    /* Center aligning text */
}

/* Styling for navigation items */
.nav-item {
    display: inline;
    /* Displaying inline */
    margin: 0 10px;
    /* Setting margins */
}

/* Styling for navigation links */
.nav-item a {
    color: #fff;
    /* Setting text color */
    text-decoration: none;
    /* Removing default underline */
    padding: 5px 10px;
    /* Adding padding */
    border-radius: 4px;
    /* Adding border radius */
}

/* Styling for navigation links hover state */
.nav-item a:hover {
    background-color: #777;
    /* Changing background color on hover */
}

/* Styling for the body */
body {
    font-family: Arial, sans-serif;
    /* Setting font family */
    background-color: #f4f4f4;
    /* Setting background color */
    margin: 0;
    /* Removing default margin */
    padding: 0;
    /* Removing default padding */
    text-align: center;
    /* Center aligning text */
    /*padding-top: 50px;*/
    /* Adding padding to the top of the body */
}

/* Styling for a container div */
.container {
    width: 300px;
    /* Setting width */
    margin: 0 auto;
    /* Centering the container horizontally */
}

/* Styling for error message */
.error {
    color: red;
    font-size: 12px;
}

/* Styling for text input, email input, and password input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 12px);
    /* Calculating width */
    padding: 8px;
    /* Adding padding */
    margin-bottom: 15px;
    /* Adding margin bottom */
    border: 1px solid #ccc;
    /* Adding border */
    border-radius: 4px;
    /* Adding border radius */
    box-sizing: border-box;
    /* Including padding and border in the width */
    display: block;
    /* Display as block */
}

/* Styling for a button */
#button {
    background-color: #4CAF50;
    /* Setting background color */
    color: white;
    /* Setting text color */
    padding: 14px 20px;
    /* Adding padding */
    margin: 8px 0;
    /* Setting margins */
    border: none;
    /* Removing border */
    cursor: pointer;
    /* Setting cursor to pointer */
    border-radius: 4px;
    /* Adding border radius */
    font-size: 16px;
    /* Setting font size */
    width: 100%;
    /* Making button take full width */
}

/* Styling for button hover state */
#button:hover {
    background-color: #45a049;
    /* Changing background color on hover */
}

/* Additional styling for the login form */
.container h2 {
    color: #333;
    /* Setting color for h2 element inside container */
}

.container p {
    margin-top: 20px;
    /* Adding margin to paragraphs inside container */
    font-size: 14px;
    /* Setting font size for paragraphs */
}

.container a {
    color: #007bff;
    /* Setting link color */
    text-decoration: none;
    /* Removing default underline */
}

.container a:hover {
    text-decoration: underline;
    /* Adding underline on hover for links */
}


/* Styling for the form */
.form-input {
    max-width: 400px;
    /* Setting maximum width */
    margin: 20px auto;
    /* Centering the form horizontally */
    padding: 20px;
    /* Adding padding */
    background: #fff;
    /* Setting background color */
    border-radius: 8px;
    /* Adding border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Adding box shadow */
}

.form-input label {
    text-align: left;
    /* Align labels to the left */
}

.form-input button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.form-input button:hover {
    background-color: #aaa;
}

/* Styling for heading */
h2 {
    text-align: center;
    /* Center aligning text */
    margin-bottom: 20px;
    /* Adding margin bottom */
}

/* Styling for labels */
label {
    display: block;
    /* Displaying block */
    margin-bottom: 5px;
    /* Adding margin bottom */
}

/* Styling for confirm password */
input[type="password"][name="confirmPassword"] {
    margin-bottom: 5px;
    /* Adjusting margin bottom for confirm password */
}

/* Styling for input fields and select */
input[type="text"],
input[type="date"],
select {
    width: calc(100% - 12px);
    /* Calculating width */
    padding: 8px;
    /* Adding padding */
    margin-bottom: 15px;
    /* Adding margin bottom */
    border: 1px solid #ccc;
    /* Adding border */
    border-radius: 4px;
    /* Adding border radius */
    box-sizing: border-box;
    /* Including padding and border in the width */
}

/* Styling for textarea */
textarea {
    width: calc(100% - 12px);
    /* Calculating width */
    margin-bottom: 5px;
    /* Adding margin bottom */
    border: 1px solid #ccc;
    /* Adding border */
    border-radius: 4px;
    /* Adding border radius */
    resize: vertical;
    /* Allowing vertical resizing */
}

/* Styling for counter text */
.counter {
    color: #999;
    /* Setting text color */
    font-size: 12px;
    /* Setting font size */
    margin-top: 5px;
    /* Adding margin top */
    text-align: right;
    /* Right aligning text */
}

/* Styling for submit and reset buttons */
input[type="submit"],
input[type="reset"] {
    background-color: #4CAF50;
    /* Setting background color */
    color: white;
    /* Setting text color */
    padding: 10px 20px;
    /* Adding padding */
    border: none;
    /* Removing border */
    border-radius: 4px;
    /* Adding border radius */
    cursor: pointer;
    /* Setting cursor to pointer */
    width: 48%;
    /* Setting width */
}

/* Styling for button hover state */
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
    /* Changing background color on hover */
}

/* Clearing float */
.btn-group:after {
    content: "";
    /* Adding content */
    display: table;
    /* Displaying as table */
    clear: both;
    /* Clearing float */
}

/* selfEvalutation-create search skills layout */
#projectSuggestionsContainer {
    position: static;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 9999;
    text-align: left;
    margin-left: auto;
    width: 100%;
    opacity: 1;
    overflow: hidden;
}

.projectSuggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.projectSuggestion:hover {
    background-color: #f0f0f0;
}

#skillSuggestionsContainer {
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    z-index: 9999;
    position: static;
}

.skillSuggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.skillSuggestion:hover {
    background-color: #f0f0f0;
}

/* Styles for selected skills */
#selectedSkills {
    display: flex;
    flex-wrap: wrap;
}

.selectedSkill {
    background-color: #f0f0f0;
    padding: 3px 8px;
    border-radius: 4px;
    margin: 3px;
    display: flex;
    align-items: center;
}

.selectedSkill span {
    margin-right: 5px;
}

.removeSkill {
    cursor: pointer;
    font-weight: bold;
    color: #666;
    margin-left: 5px;
}

.bubble-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Skill bubble */
.bubble {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
}

.bubble:hover {
    background-color: #aaa;
    border-radius: 20px;
    padding: 5px 10px;
    padding: 5px 10px;
}

/* Styling for tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip::after {
    /*content: "?";*/
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    font-size: 10px;
    color: #555;
    cursor: pointer;
}

.rounded-image {
    border-radius: 50%;
    /* Makes the border round */
    overflow: hidden;
    /* Ensures the image stays within the rounded border */
    width: 200px;
    /* Adjust width as needed */
    height: 200px;
    /* Adjust height as needed */
}

.home-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    /* Full height of the viewport */
}

.home-profile-container {
    height: 680px;
    margin: 20px;
    padding: 20px;
    background-color: #e7e7e7;
    text-align: center;
    padding-left: 10px;
    flex: 25%;
    border-radius: 20px;
    position: relative;
    overflow: auto;
}

.home-content-container {
    height: 740px;
    display: flex;
    flex-direction: column;
    flex: 75%;
    /* Take up remaining space */
    padding-top: 20px;
}

.home-right-top,
.home-right-bottom {
    padding-left: 20px;
    background-color: #e7e7e7;
    text-align: left;
    margin-bottom: 20px;
    /* Space between top and bottom containers */
    overflow: auto;
    border-radius: 20px;
    margin-right: 20px;
}

.home-right-top {
    flex: 30%;
}

.home-right-bottom {
    flex: 70%;
}

.home-right-top button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.home-right-top button:hover {
    background-color: #aaa;
}

/* WebKit scrollbar */
.home-profile-container::-webkit-scrollbar,
.home-right-top::-webkit-scrollbar,
.home-right-bottom::-webkit-scrollbar,
.project_border::-webkit-scrollbar {
    width: 10px;
    /* Set the width of the scrollbar */
}

/* Track */
.home-profile-container::-webkit-scrollbar-track,
.home-right-top::-webkit-scrollbar-track,
.home-right-bottom::-webkit-scrollbar-track,
.project_border::-webkit-scrollbar-track {
    background: #e7e7e7;
    /* Set the background color of the scrollbar track */
}

/* Handle */
.home-profile-container::-webkit-scrollbar-thumb,
.home-right-top::-webkit-scrollbar-thumb,
.home-right-bottom::-webkit-scrollbar-thumb,
.project_border::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    /* Set the background color of the scrollbar thumb */
    border-radius: 5px;
    /* Set the border radius of the scrollbar thumb */
}

/* Handle on hover */
.home-right-top::-webkit-scrollbar-thumb:hover,
.home-right-bottom::-webkit-scrollbar-thumb:hover,
.project_border::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
    /* Set the background color of the scrollbar thumb on hover */
}

.home-container a {
    color: #007bff;
    text-decoration: none;
}

.home-container a:hover {
    text-decoration: underline;
}

.home-container a:visited {
    color: #000000;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
}

.feedback-container {
    max-width: 600px;
    /* Setting maximum width */
    margin: 20px auto;
    /* Centering the form horizontally */
    padding: 20px;
    /* Adding padding */
    background: #fff;
    /* Setting background color */
    border-radius: 8px;
    /* Adding border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Adding box shadow */
}

/*search bar styling*/
.search_bar {
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 40%;
    margin-left: auto;
}

/*search container styling*/
.search_container {
    background-color: #e7e7e7;
    padding: 20px;
    padding-bottom: 0%;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    max-height: 55px;
}

.suggestions {
    position: relative;
}

/*add project button*/
.add_project {
    background-color: #111;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 14px;
    flex: 1;
    margin-left: 20px;

}

.add_project:hover {
    background-color: #2b2b2b;
}

/*table styling*/
.project_table .table_head {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #111;
    color: white;
}

.project_table tbody tr:nth-child(even) {
    background-color: #ddd;
}

.project_table tbody tr:nth-child(odd) {
    background-color: #ededed;
}

.project_table tbody tr:hover {
    background-color: #cdcdcd;
}

.project_table {
    padding: 20px;
    padding-top: 10px;
}

.table_border {
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid;
}

.table_border tbody td a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.project_border {
    background-color: #e7e7e7;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    overflow: auto;
    height: 590px;
}

.nav-links a.active {
    background-color: #777;
    font-weight: bold;
}

.hidden-review {
    color: #949494;
    /* Light grey color */
    font-style: italic;
    /* Italic font style */
}

/* Biography container */
.biography-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

/* Styling for biography containers */
.biography-top-container {
    height: 100px;
    margin: 20px;
    padding: 20px;
    background-color: #e7e7e7;
    text-align: center;
    padding-left: 10px;
    border-radius: 20px;
    position: relative;
    overflow: auto;
}

.biography-middle-container {
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #e7e7e7;
    text-align: center;
    padding-left: 10px;
    border-radius: 20px;
    position: relative;
    overflow: auto;
}

.biography-top-container {
    display: flex;
    align-items: center;
}

.profile-image {
    margin-right: 20px;
}

.profile-image img {
    width: 100px;
    height: auto;
}

.profile-details {
    flex: 1;
}

.profile-details h1 {
    margin: 0;
}

.profile-details p {
    margin: 0;
}

/* Styling for the bottom container */
.biography-bottom-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Styling for bottom-left container */
.biography-bottom-left {
    height: 400px;
    flex-basis: 20%;
    padding: 20px;
    background-color: #e7e7e7;
    border-radius: 20px;
    overflow: auto;
    margin-right: 20px;
}

/* Styling for bottom-right container */
.biography-bottom-right {
    height: 400px;
    flex-basis: 75%;
    padding: 20px;
    background-color: #e7e7e7;
    border-radius: 20px;
    overflow: auto;
}

.biography-top-container::-webkit-scrollbar,
.biography-middle-container::-webkit-scrollbar,
.biography-bottom-left::-webkit-scrollbar,
.biography-bottom-right::-webkit-scrollbar {
    width: 10px;
    /* Set width of the scrollbar */
    background-color: transparent;
    /* Set background color of the scrollbar track */
}

.biography-top-container::-webkit-scrollbar-thumb,
.biography-middle-container::-webkit-scrollbar-thumb,
.biography-bottom-left::-webkit-scrollbar-thumb,
.biography-bottom-right::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, 0.2);
    /* Set color of the scrollbar thumb */
    border-radius: 5px;
    /* Set border radius of the scrollbar thumb */
}

.biography-top-container::-webkit-scrollbar-thumb:hover,
.biography-middle-container::-webkit-scrollbar-thumb:hover,
.biography-bottom-left::-webkit-scrollbar-thumb:hover,
.biography-bottom-right::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
    /* Set color of the scrollbar thumb on hover */
}

/*project detail page style*/

.project_name {
    margin-top: 10px;
}

/*container for project buttons*/
.project_details_buttons {
    background-color: #e7e7e7;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.project_buttons {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    margin: 0 20px;
}

.project_buttons:hover {
    background-color: #aaa;
}

.review_button {
    background-color: #333;
    color: white;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 10px;
    margin: 0 10px;
}

.review_button:hover {
    background-color: #aaa;
}

/*container containing members and details*/
.details_container {
    display: flex;
    height: 100%;
}

/*container for displaying members*/
.member_container {
    background-color: #e7e7e7;
    padding: 20px;
    margin: 5px 10px 10px 20px;
    border-radius: 8px;
    flex: 23%;
    min-height: 500px;
    height: auto;
}

/*container for displaying project details*/
.project_detail_container {
    background-color: #e7e7e7;
    padding: 20px;
    margin: 5px 20px 10px 10px;
    border-radius: 8px;
    flex: 77%;
    text-align: left;
    min-height: 500px;
    height: auto;
}

.project_detail_container td {
    padding: 5px;
}

.member_container td {
    padding: 1px;
}

/*skills page styling*/

/*skills header*/
.skills_header {
    background-color: #e7e7e7;
    padding: 20px;
    padding-bottom: 0%;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    max-height: 55px;
}

.skills_header h2 {
    text-align: left;
    margin: 0 0 0 20px;
    flex: 1;
}

.skills_search_container {
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 20%;
    margin-left: auto;
    position: relative;
}

/*skills container*/
.skills_container {
    padding-left: 20px;
    background-color: #e7e7e7;
    text-align: left;
    margin-bottom: 20px;
    overflow: auto;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.project_skill_container {
    display: flex;
}

.project_skill_container b {
    flex: 20%;
}

.project_bubble {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
}

.project_bubble:hover {
    background-color: #aaa;
    border-radius: 20px;
    padding: 5px 10px;
    padding: 5px 10px;
}

.bubble_container {
    flex: 80%;
}

.bubble_container a,
.bubble a {
    color: #000000;
    /* Setting link color */
    text-decoration: none;
    /* Removing default underline */
}

.bubble_container a:hover,
.bubble a:hover {
    text-decoration: underline;
    /* Adding underline on hover for links */
}

.reflection a {
    color: #007bff;
    text-decoration: none;
}

.reflection a:hover {
    text-decoration: underline;
}

.reflection a:visited {
    color: #000000;
}
